:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #c00000;

	background-image: repeating-linear-gradient(
		-45deg,
		rgba(13, 89, 1),
		rgba(13, 89, 1) 100px,
		transparent 100px,
		transparent 200px
	);
	height: 100vh; /* Adjust height */
	width: 100%;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden; /* Ensure snowflakes don't cause scrollbars */
	position: relative; /* Required for absolute positioning of snowflakes */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.snowflake {
	position: absolute;
	top: -10px;
	background: white;
	border-radius: 50%;
	opacity: 0.8;
	pointer-events: none;
	animation: fall linear infinite;
}

@keyframes fall {
	to {
		transform: translateY(100vh);
	}
}
