@font-face {
  font-family: 'CustomFont';
  src: url('./assets/HolidayFree.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.page {
    height: 100vh;
}

.slide-out {
    animation: slide-out 1s forwards;
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.slide-in {
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin: 1vw;
    border: white;
    border-width: 12px;
    border-style: solid;
    border-bottom: 50px white solid;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'CustomFont', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1.6em;
  line-height: 1;
}

button {
    font-size: 1.6em;
    line-height: 1.5;
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c00000;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #940202;
}